{% extends "base.html" %}

{% block title %}Update Post - Masterblog{% endblock %}
{% block header %}Update Post{% endblock %}

{% block content %}
    <!-- Server side validation messages -->
    {% include "_flash_messages.html" %}
    <form action="{{ url_for('update', post_id=post['id']) }}" method="post">
        <label for="author">Author:</label>
        <input id="author" name="author" type="text" value="{{ post['author'] }}" required>
        <label for="title">Title:</label>
        <input id="title" name="title" type="text" value="{{ post['title'] }}" required>
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows=2 required>{{ post['content'] }}</textarea>
        <br/>
        <input type="submit" value="Update">
    </form>
{% endblock %}
